p {
  font-family: Lato;
}

mat-table {
  width: 100%;
  user-select: none;
}

mat-cell[active] {
  box-shadow: 0 0 0 2px black inset;
}

mat-cell[selected] {
  background-color: lightblue;
}

mat-cell[disabled] {
  background-color: lightgrey;
}
